$colorBackgroundButton:#ccc;
$colorBackgroundButtonHover:lighten($colorBackgroundButton, 10%);
$colorBackgroundHeader: #000;
$colorBorder: #d0d0d0;
$colorBorderFieldset: $colorBorder;
$colorFontHeader: #fff;