@import "_variables";
@import "_mixins";

@import "vendor/salsa/salsa";
@import "vendor/fa/scss/font-awesome";

@import "_forms";

*{
    box-sizing: border-box;
}
body{
    font-family: $fontMain;
    font-size:14px;
    line-height:$lineHeight;
    margin:0;
    padding:0;
    &>header, &>main, &>footer{    
        @include clear();
    }
    &>header{
        background:$colorBgHeader;
        color:$colorFontHeader;
        padding:$gutter-width/2;
        *{
            color:$colorFontHeader;
        }
        h1{
            font-size:2em;
            a{
                text-decoration:none;
            }
        }
        nav{
            ul{
                list-style:none;
                margin:0;
                padding:0;
                li{
                    display:inline-block;
                }
            }
        }
    }
    &>main{
        .wrapper{
            @include bp('small') {
                &>nav{
                    @include grid(1/5);
                }
                &>div{
                    &:first-child:not(:last-child), &:last-child:not(:first-child){
                        // One sidebar         
                        @include grid(4/5);   
                    }
                    &:not(:first-child):not(:last-child){
                        // both sidebars
                        @include grid(3/5);
                    }
                }
            }
        }
    }
    &>footer{
        @extend header;
    }
}

blockquote{
    &:before, &:after{
        @extend .fa;
        @extend .fa-2x;
    }
    &:before{
        @extend .fa-quote-left;
        float:left;
        margin-right:$gutter-width/2;
    }
    &:after{
        content:$fa-var-quote-right;
        margin-left:$gutter-width/2;
        position:absolute;
    } 
}

.wrapper{
    margin:0 auto;
    max-width:1200px;
}