@import "_variables";
@import "_mixins";
@import "salsa/salsa";
@import "fa/scss/font-awesome"; 

*{
    box-sizing: border-box;
}
body{
    font-family: $fontMain;
    font-size:14px;
    margin:0;
    padding:0;
    &>header, &>main, &>footer{    
        @include clear();
    }
    &>header{
        background:$colorBackgroundHeader;
        color:$colorFontHeader;
        padding:$gutter-width/2;
        *{
            color:$colorFontHeader;
        }
        h1{
            font-size:2em;
            a{
                text-decoration:none;
            }
        }
        nav{
            ul{
                list-style:none;
                margin:0;
                padding:0;
                li{
                    display:inline-block;
                }
            }
        }
    }
    &>main{
        .wrapper{
            @include bp('small') {
                &>nav{
                    @include grid(1/5);
                }
                &>div{
                    &:first-child:not(:last-child), &:last-child:not(:first-child){
                        // One sidebar         
                        @include grid(4/5);   
                    }
                    &:not(:first-child):not(:last-child){
                        // both sidebars
                        @include grid(3/5);
                    }
                }
            }
        }
    }
    &>footer{
        @extend header;
    }
}
form{
    margin:0 0 $gutter-width 0;
    fieldset{
        border:1px solid $colorBorderFieldset;
        margin:$gutter-width 0;
        padding:$gutter-width;
        &>div{
            &:not(.clear){
                margin-top:$gutter-width;
                &:first-of-type{
                    margin-top:0;
                }
            }
        }
    }
    input[type=text], input[type=email]{
        display:block;
        line-height:1em;
        padding:$gutter-width/4;
        width:100%;
    }
    button{
        background:$colorBackgroundButton;
        border:none;
        padding:$gutter-width/2;
        &:hover{
            background:$colorBackgroundButtonHover;
        }
    }
}
.wrapper{
    margin:0 auto;
    max-width:1200px;
}